.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.home-header {
  text-align: center;
}

.home-filters {
  text-align: center;
}

.search-form {
  display: grid;
  place-items: center;
  width: 100vw;
}

.search-bar {
  text-align: center;
  border-radius: 0.7rem;
  padding: 0 1rem;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
}

.search-bar:focus {
  outline: none;
}

.search-button {
  /* position: absolute;
  margin-top: 0px;
  margin-right: 0px; */
  border-radius: 0.7rem;
  z-index: 2;
  cursor: pointer;
  grid-column-start: 2;
  grid-column-start: 3;
}

fieldset {
  border: 0;
  width: 25vw;
  display: grid;
}

.weather-component {
  display: grid;
  place-content: center;
}

.search-elements {
  margin-left: 5em;
}

.climb-photos-component {
  max-width: 100%;
}

.climb-photo {
  max-width: 25%;
  height: auto;
  padding: 0 1em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.difficulty-header h3,
.difficulty-header h4 {
  display: inline;
}
