.App {
  text-align: left;
}

.home-header {
  text-align: center;
  text-decoration: none;
  color: inherit;
  background: linear-gradient(
    rgb(200, 200, 200, 0.1),
    rgba(200, 200, 200, 0.35),
    rgb(200, 200, 200, 1)
  );
  padding: 1em;
  margin-top: 0;
}

.home-filters-container {
  margin-top: 1em;
  text-align: center;
}

.home-filters {
  text-align: center;
}

.search-form {
  display: grid;
  place-items: center;
  width: 100vw;
}

.search-bar {
  text-align: center;
  border-radius: 0.7rem;
  padding: 0.15rem 1rem;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
}

.search-bar:focus {
  outline: none;
}

.search-button {
  /* position: absolute;
  margin-top: 0px;
  margin-right: 0px; */
  border-radius: 0.7rem;
  z-index: 2;
  cursor: pointer;
  grid-column-start: 2;
  grid-column-start: 3;
}

fieldset {
  border: 0;
  width: 25vw;
  display: grid;
}

.tooltip {
  position: relative;
}

.tooltip:before {
  content: attr(tooltip-data);
  position: absolute;
  visibility: hidden;
  opacity: 0;
  bottom: 115%;
  background-color: rgb(235, 235, 235);
  white-space: pre;
  border-style: solid;
  border-width: 1px;
  font-size: 0.8em;
}

.tooltip:after {
  content: "";
  position: absolute;
  opacity: 0;
  transform: opacity 0.25s;
  visibility: hidden;
}

.tooltip:hover:before,
.tooltip:hover:after {
  opacity: 1;
  visibility: visible;
}

.weather-component {
  margin-top: 2em;
  display: grid;
  place-content: center;
}

.weather-line {
  margin: 0.2em;
}

.search-elements {
  margin-left: 20%;
  margin-right: 20%;
}

.climb-detail-container {
  margin-left: 15%;
  margin-right: 15%;
}

.single-climb-result {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.climb-photos-component {
  max-width: 100%;
}

.climb-photo {
  max-width: 25%;
  height: auto;
  padding: 0 1em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.difficulty-header h3,
.difficulty-header h4 {
  display: inline;
}

.difficulty-header h4 {
  margin-left: 0.5em;
}
